.mainSection {
    display: flex;
    flex-wrap: wrap; /* allow multiple rows */
    justify-content: center; /* center the gallery */
    
}

.imgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px; /* image width + some spacing */
    margin: 10px;
}

.Image {
    width: 250px;
    height: 300px;
    object-fit: cover; /* ensures image fits nicely */
    margin-bottom: 10px;
}

.Heading {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin: 5px 0 2px 0;
    word-wrap: break-word;
}

.Price {
    font-size: 14px;
    text-align: center;
    color: #d612bf;
    margin: 0;
    font-weight: 600;
}
