.carousel-caption .para {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: aquamarine;font-weight: bold;
}
.carousel-caption .heading5 {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(232, 18, 240);font-weight: bold;
}